<div class="py-16 bg-white">
  <div class="max-w-5xl mx-auto px-4">
    <h2 class="text-3xl font-bold text-blue-500 mb-4 underline decoration-wavy decoration-gray-600">Professional Experience</h2>
    
    <div class="flex items-center justify-between mb-10">
      <div>
        <h3 class="text-xl font-semibold text-gray-800 underline">Data Business Analyst</h3>
        <p class="text-sm text-gray-600">TE Connectivity | July 2023 - March 2024 | Tanger</p>
        <ul class="mt-2 list-disc pl-6 text-gray-700 leading-relaxed">
          <li>Enhanced process engineering applications and mentored three interns.</li>
          <li>Resolved serial generation issues, automated invoice tracking, and integrated sensor-based production data streaming.</li>
          <li>Optimized workflows and implemented scalable solutions with cross-functional teams.</li>
        </ul>
        </div>
        <div class="w-20 h-20 hidden md:block">
          <img src="/logo te.png" alt="TE Connectivity Logo" class="w-full h-full object-contain" />
        </div>
    </div>

    <div class="flex items-center justify-between mb-10">
      <div>
      <h3 class="text-xl font-semibold text-gray-800 underline">Full Stack Developper (Intern)</h3>
      <p class="text-sm text-gray-600">TE Connectivity | Feb 2023 - Jul 2023 | Tanger</p>
      <ul class="mt-2 list-disc pl-6 text-gray-700 leading-relaxed">
        <li>Developed a web application for process engineering using Angular and .NET Core.</li>
        <li>Implemented RESTful APIs, secured authentication, and containerized services with Docker.</li>
        <li>Collaborated in an agile environment with cross-functional teams to deliver a
          high-quality product.</li>
      </ul>
    </div>
    <div class="w-20 h-20 hidden md:block">
      <img src="/logo te.png" alt="TE Connectivity Logo" class="w-full h-full object-contain" />
    </div>
    </div>
    <!-- Mobile Developer -->
    <div class="flex items-center justify-between mb-10">
      <div>
      <h3 class="text-xl font-semibold text-gray-800 underline">Mobile Developer (Intern)</h3>
      <p class="text-sm text-gray-600">Laundry Service | Jan 2020 - Jul 2020</p>
      <ul class="mt-2 list-disc pl-6 text-gray-700 leading-relaxed">
        <li>Created a cross-platform laundry service mobile application using Flutter.</li>
        <li>Integrated SMS order tracking .</li>
        <li>Optimized app performance, ensuring a smooth user experience across android
          platforms.</li>
      </ul>
    </div>
    <div class="w-20 h-20 hidden md:block">
      <img src="/logo landry.png" alt="Laundry Service Logo" class="w-full h-full object-contain" />
    </div>
    </div>
  </div>
</div>
